<div class="modal-header">
  <h4 class="modal-title">{{ data.title ? 'Modifier' : 'Ajouter' }} Mission</h4>
</div>
<div class="modal-body">
  <div>
    <div class="form-group mb-4">
      <input class="form-control" placeholder="Titre" [(ngModel)]="data.title" name="title">
    </div>
    <div class="form-group mb-4">
      <textarea class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description"></textarea>
    </div>
    <div class="form-group mb-4">
      <input type="color" [(ngModel)]="data.color" name="color">
    </div>
    <div class="form-group mb-4">
      <label for="startdate">Date de début:</label>
      <input type="date" class="form-control" [(ngModel)]="data.startdate" name="startdate" pattern="\d{4}-\d{2}-\d{2}">
    </div>
    <div class="form-group mb-4">
      <label for="enddate">Date de fin:</label>
      <input type="date" class="form-control" [(ngModel)]="data.enddate" name="enddate" pattern="\d{4}-\d{2}-\d{2}">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Annuler</button>
  <button type="button" class="btn btn-primary" (click)="onSaveClick()">Enregistrer</button>
  <button *ngIf="data.title" type="button" class="btn btn-danger" (click)="onDeleteClick(data.id)">Supprimer</button>
</div>
