<div class="mt-3 mb-3">
    <button class="btn btn-primary" (click)="addMission()">Ajouter une mission</button>
    <button class="btn btn-secondary mx-3" (click)="saveChanges()">Sauvegarder les changements</button>
</div>
<full-calendar 
    #calendar
    [options]="calendarOptions">
    <!-- <ng-template #eventContent let-arg>
        <b>{{ arg.event.title }}</b>
    </ng-template> -->
</full-calendar>
