<main role="main" class="inner cover">
    <h1 class="cover-heading">Lorem Ipsum</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque arcu, pellentesque ac diam in, consequat gravida turpis. Nam eleifend bibendum dui. Donec iaculis at tellus ac vulputate. Morbi vitae lorem eget leo sollicitudin tincidunt eget sit amet elit. Vivamus vel sagittis erat. Nunc semper quam lectus, sed venenatis sapien mattis at.</p>
    <p class="lead">
      <a href="/calendrier" routerLink="calendrier" class="btn btn-lg btn-secondary">Calendrier</a>
    </p>
</main>
